<!doctype html>
<html>
  <head>
    <% include ../bits/head.html %>
    <title>Series: <%= series.title %></title>
  </head>
  <body>
    <div class="container-fluid page-block">
      <% include ../bits/header.html %>
      <div class="row content-block">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 content-section">

          <!-- Page Content -->

          <h1><%= series.title %></h1>

          <!-- end Page -->

        </div>
      </div>
      <% include ../bits/footer.html %>
    </div>
  </body>
</html>
