<!doctype html>
<html>
  <head>
    <% include bits/head.html %>
    <title>About</title>
  </head>
  <body>
    <div class="container-fluid page-block">
      <% include bits/header.html %>
      <div class="row content-block">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 content-section">

          <!-- Page Content -->

          <h1>About Lit Nation</h1>
          <div class="text-block">
            <p>
              Lit Nation is a collaborative fiction community focused on allowing authors to
              generate stories together.  By offering planning tools and a space to write together,
              we hope to inspire more aspiring writers to band together to create exciting worlds.
              Don't worry about quality, quantity, or subject matter.  We welcome stories of all sorts;
              short and long, original and fanfic, beginner and advanced.  The categories speak for themselves.
              If it's fiction and it's yours, it belongs!
            </p>
          </div>
          <div class="text-block">
            <p>
              Our planning tools should allow you to get a good start by providing a space to develop characters,
              settings, and plots.  They will also help any contributing authors you may decide to join forces with
              to write alongside you and stay true to your vision for your own story aspects.  Our collaborative
              editor allows multiple authors to write together and form one cohesive story while chatting realtime.
            </p>
          </div>
          <div class="text-block text-center">
            <p>
              Interested in writing together?  <a href='/register'>Then join now!</a>
            </p>
          </div>
          <!-- end Page -->

        </div>
      </div>
      <% include bits/footer.html %>
    </div>
  </body>
</html>
