<!doctype html>
<html>
  <head>
    <% include bits/head.html %>
    <title>Login</title>
  </head>
  <body>
    <div class="container-fluid page-block">
      <% include bits/header.html %>
      <div class="row content-block">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 content-section">

          <!-- Page Content -->

          <h1> Welcome! </h1>
          <div class="text-block">
            <p>
              You've stumbled across Lit Nation.  We are currently under construction but hope to be up
              and running soon!
            </p>
          </div>

          <!-- end Page -->

        </div>
      </div>
      <% include bits/footer.html %>
    </div>
  </body>
</html>
