<!doctype html>
<html>
  <head>
    <% include bits/head.html %>
    <title>Register</title>
  </head>
  <body>
    <div class="container-fluid page-block">
      <% include bits/header.html %>
      <div class="row content-block">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 content-section">

          <!-- Page Content -->

          <h1>Register to Join</h1>
          <%= (form) ? form.get_failure() : '' %>
          <form action="" method="post" class="main-form">
            <label>Username: </label><input type="text" name="username" value="<%= (form) ? form.get_value('username') : '' %>"/> <%= (form) ? form.get_error('username') : '' %><br>
            <label>Password: </label><input type="password" name="password" value="<%= (form) ? form.get_value('password') : '' %>"/> <%= (form) ? form.get_error('password') : '' %><br>
            <label>Email: </label><input type="email" name="email" value="<%= (form) ? form.get_value('email') : '' %>"/> <%= (form) ? form.get_error('email') : '' %><br>
            <input type="submit" value="Submit" class="main-submit"/>
          </form>

          <!-- end Page -->

        </div>
      </div>
      <% include bits/footer.html %>
    </div>
  </body>
</html>
