body, div.header-block .header-section {
  background-color: #fff;
  background-image:url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/brickwall.png');
}
body a {
  color: #000;
}
body a:hover {
  color: #333;
}

div.header-block {
    background-color: #333;
}

div.nav-block, div.footer-block {
  background-color: #aaa;
  color: #eee;
}
div.nav-block li:hover {
  background-color: #999;
}
div.nav-block a {
  color: #eee;
}
div.nav-block a:hover {
  color: #ddd;
}

div.content-block .content-section {
  background-color: #efefef;
  border-left: 3px solid #aaa;
  border-right: 3px solid #aaa;
}

form.main-form input {
  border: 1px solid #aaa;
}
